# configuration options for gitmanager
# put me in $HOME/.config/gitm/rc
# should be sourced by gitm.sh and gitd.sh

set -a
#set +a # removed from file end so APPDIR can be appended

bareHost='git@reese'
bareHostDir='/home/git/'

# most projects start in ....src/project -- warn if thats not the case
expectToBeIn='src'     

githubUser=fillmeIn
token=WithYourAPIkey

xmppUser=bot@reese
xmppPasswd=bot

gitManagedList=$HOME/.config/gitm/list


PYTHONBIN=/usr/bin/python
